
@mixin new-transition($transitionvalues) {
	@include prefixer(transition, $transitionvalues, webkit moz spec);
}

@mixin modal-content(){
	.modal-content {
		color: $black;
	}
}

@mixin slider-content(){
	app-slide {
		h2 {
			position: absolute;
			bottom: 50px;
			opacity: .6;
			color: $white;
			font-size: 4rem;
			padding-right: 4vw;
		}
		.image {
			height: $carousel-height;
			width: 100%;
			background-size: cover;

		}
	}

}

