@import "src/theme/include.scss";

.carousel {
	height: 600px;
	width: 100%;
	overflow: hidden;
	position: relative;
}

.carousel-indicators {
	display: none;
}

.carousel-control {
	z-index: 2;
	position: absolute;
	top: 50%;
	width: 100%;
	margin-top: -12px;
}

.right {
	right: 20px;

	@include icon('icon-arrow');

}

.left {
	left: 20px;
	@include icon('icon-arrow');
}

.right, .left {
	position: absolute;
	cursor: pointer;
	color: $link-color;
	&:before {
		font-size: 1.5rem;
	}

}

@media all and (max-width: $large-screen) {

	.carousel-control {
		top: 25vw;
	}

}

@media all and (max-width: $medium-screen) {

	.carousel {
		height: 86vw;
		overflow: unset;
	}

}

@media all and (max-width: $xsmall-screen) {

	.carousel-control {
		top: 25vh;
	}

}




