/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */
@import "fonts";
@import "elements";

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background: $gray;
}

/**
GOOGLE MAPS
 */

.agm-info-window-content {
	color: $gray-dark;
}

.link-magenta {
	color: $brand-primary;
}

@media all and (max-width: $large-screen) {

	body.menu-open {
		.navi {
			right: 0;
		}
		.inner-content {
			transform: translate(-$navi-width, 0px);
		}

		.toggle-button {
			transform: translate(-$navi-width, 0px);
		}
	}
}
