@import "src/theme/include";

p {
    background: $c-light-blue;
}

.icon {
    @include icon('icon-chevron-down2', 'after');
    &:after {
        top: 5px;
        font-size: $icon-small-font-size;
    }
}