<p>
	home works!
	<span translate>test text</span>

</p>
{{data | json}}
<div>
	<span class="icon">Mehr</span>
</div>
<app-carousel [interval]="NextPhotoInterval" >
	<app-slide>
		<div class="image" style="background-image: url('https://via.placeholder.com/250x250')"></div>
		<h2>...Slider Text. 1...</h2>
	</app-slide>
	<app-slide>
		<div class="image" style="background-image: url('https://via.placeholder.com/350x250')"></div>
		<h2>...Slider Text 2...</h2>
	</app-slide>
	<app-slide>
		<div class="image" style="background-image: url('https://via.placeholder.com/350x250')"></div>
		<h2>...Slider Text 3...</h2>
	</app-slide>
</app-carousel>

<div (click)="showModal = true">Open Modal</div>

<app-modal [showModal]="showModal" (closeModal)="closeModalHandler()"  >

	<div class="modal-content">
		<h2>Modal Content</h2>
		<p>Modal Content</p>
	</div>

</app-modal>

