<p>
	home works!
	<span translate>test text</span>

</p>
{{data | json}}
<div>
	<span class="icon">Mehr</span>
</div>
<app-carousel [interval]="NextPhotoInterval" >
	<app-slide>
		<h2>Slide Headline 1</h2>
		<p>Slide Content</p>
		<img src="https://via.placeholder.com/350x150">
	</app-slide>
	<app-slide>
		<h2>Slide Headline 2</h2>
		<p>Slide Content</p>
		<img src="https://via.placeholder.com/350x250">
	</app-slide>
	<app-slide>
		<h2>Slide Headline 3</h2>
		<p>Slide Content</p>
		<img src="https://via.placeholder.com/350x550">
	</app-slide>
</app-carousel>
